/*******************************************
/* General
/*******************************************/
:root {
    font-size: 62.5%;
}

* {
  box-sizing: border-box;  
}

body {
    background-color: #8C9CAD;
    font-size: 1.6rem;
    color: #919689;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*******************************************
/* Card
/*******************************************/
.card {
    background-color: white;
    padding: 3rem;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.56);
    flex-basis: 80%;
    text-align: center;
}

.card h1 {
    color: #6C7066;
    margin-top: 0;
}


/*******************************************
/* Tablet and Desktop
/*******************************************/
@media screen and (min-width: 850px) {    
    .card {
        flex-basis: 30%;
        padding: 8rem 5rem;
    }
}